.DS_Store
.idea/

# strategy
strategy/out/
strategy/.idea/

# lazy-loading
lazy-loading/out/
lazy-loading/.idea/

# data-transfer-object
data-transfer-object/out/
data-transfer-object/.idea/

# null-object
null-object/out/
null-object/.idea/
